*{
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#contact_modal {
    display: none;
}

.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    
}

.photographer-header .photographer-page-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    font-weight: 400;
    height: 100%;
}

.photographer-header .photographer_card_name{
    font-size: 64px;
    margin: 0;
    color: #d3573c;
}

.photographer-header .photographer_card_location{
    font-size: 31px;
    margin-top: 16px;
    margin-bottom: 19px;
    color: #901C1C;
}

.photographer-header .photographer_card_tagline{
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.photographer-header .photographer_card_image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 80px;
}

.modal header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    height: 100%;
}

.modal header h3 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 5px 0;
}

.modal .contact-header-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-header-title h2{
    margin: 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    line-height: 83px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form .error {
    margin-top: 5px;
    color: #901C1C;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
}

/* listbox */

#listbox{
    margin: 20px 100px;
    display: flex;
}

#listbox-label {
    font-weight: 800;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    padding-right: 1em;
  }
  
  .listbox-custom {
    color: white;
    font-size: 1.25em;
    font-weight: 800;
  }
  
  .listbox-custom select {
    display: none;
  }
  
  .listbox-custom-new {
    display: flex;
    align-items: center;
    background-color: #901c1c;
    border-radius: 0.3em;
    height: 3em;
    width: 8em;
    cursor: pointer;
    padding-left: 0.6em;
    position: relative;
  }
  
  .select-items {
    background-color: #901c1c;
    border-radius: 0.3em;
    position: absolute;
    z-index: 5;
    cursor: pointer;
  }
  
  .select-items div {
    display: flex;
    align-items: center;
    min-height: 3em;
    width: 8em;
    border-top: solid #fafafa;
    padding-left: 1.5em;
    cursor: pointer;
  }
  
  .select-hide {
    display: none;
  }
  
  .active {
    display: none;
  }
  
  .listbox-custom-new::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    position: absolute;
    right: 0.5em;
  }
  
  .listbox-custom-new.active::after {
    font-family: "Font Awesome 5 Free";
    content: "\f077";
  }

/* gallery */

.photographer-work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.media-figure{
    margin: 0 0 25px 0;
}

.galery-medias{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

figcaption{
    display: flex;
    justify-content: space-between;
}

figcaption .legend-title{
    color: #901C1C;
}
figcaption .legend-like{
    color: #901C1C;
}


/* likes */

input[type="checkbox"].like-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1em;
    margin: -0.1em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1em;
  }
  
  input[type="checkbox"].like-input:focus {
    border: 0.125em solid blue;
    clip: rect(0 0 0 0);
    height: 0.1em;
    margin: -0.1em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1em;
  }
  
  input[type="checkbox"].like-input + label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    color: #901c1c;
    padding: 0 0.6rem;
    font-weight: 100;
  }
  input[type="checkbox"].like-input:checked + label::before {
    font-weight: 900;
  }
  
  .like-label {
    color: #901c1c;
    font-size: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }


/* lightbox */

#lightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#lightbox-container{
    /* display: flex;
    justify-content: center; */
}

#lightbox .lightbox-modal-media{
    
}

#lightbox {
    color: #901c1c;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
  }
  
  #lightbox-container {
    background-color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    transform: translateX(0%);
  }
  
  #lightbox-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .slides-container {
    display: flex;
    justify-content: center;
    width: 100%;
    float: left;
    z-index: 3;
  }
  
  .slides {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .slide-media {
    display: flex;
    justify-content: center;
  }
  
  .lightbox-modal-media {
    max-height: 40em;
    max-width: 100%;
    border-radius: 0.3em;
    object-fit: contain;    
  }

  #lightbox-icon-close {
    position: absolute;
    top: 0.5em;
    right: 2em;
    color: #901c1c;
    background: none;
    font-family: "DM Sans", sans-serif;
    font-size: 4.1em;
    font-style: normal;
    border: none;
    cursor: pointer;
  }

#prev, #next {
  position: absolute;
  top: 50%;  
  color: #901c1c;  
  background: none;
  font-family: "DM Sans", sans-serif;  
  font-size: 4.1em;
  font-weight: 200;
  max-height: 42.5em;
  border: none;
  cursor: pointer;
}

  #prev {
    left: 2em;
  }
  
  #next {
    right: 2em;
  }

  /* Counter Widget */
  .widget aside {
    position: fixed;
    bottom: 0em;
    left: 73%;
    background-color: #db8876;
    width: 15em;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3em 0.3em 0 0;
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
    box-shadow: 0 0.1em 0.1em rgb(0 0 0 / 12%), 0 0.15em 0.15em rgb(0 0 0 / 12%),
      0 0.25em 0.25em rgb(0 0 0 / 12%), 0 0.5em 0.5em rgb(0 0 0 / 12%),
      0 1em 1em rgb(0 0 0 / 12%);
  }